@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,700;1,400&display=swap');

.hidden {
  display: none;
}

* {
  margin: 0;
  padding: 0;
}

#app {
  font-family: 'Roboto';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;

}

.hud {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: 1fr 5fr 1fr;
  grid-template-rows: 1fr 5fr 1fr;
  font-family: 'Roboto';
  color: white;
  text-shadow: 0 0 5px black;
}

.hud > * {
  width: 100%;
  height: 100%;
  user-select: none;
}

.location {
  text-align: center;
  padding: 1em;
}

.controls {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-areas: 
    ".   w   ."
    "a   s   d"
    "cap cap cap";
}

.w {
  grid-area: w;
}

.a {
  grid-area: a;
}

.s {
  grid-area: s;
}

.d {
  grid-area: d;
}

.cap {
  grid-area: cap;
}

.controls button {
  width: 100%;
  height: 100%;
}

.modal {
  width: 100%;
  height: 100%;
  background-color: white;
  color: black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transform: scale(0);
  position: relative;
}

.modal-content {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: red;
}

.close-button {
  background-color: red;
  color: white;
  position: absolute;
  top: 0;
  right: 0;
  padding: 1em;
}

.appear-grow {
  transform: scale(1);
  animation: grow 250ms ease-in;
}

.disappear-shrink {
  animation: grow 250ms ease-in reverse;
}

@keyframes grow {
  from {
    transform: scale(0);
  }

  to {
    transform: scale(1);
  }
}