@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,700;1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@800&display=swap');

.preloader {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: black;
}

.preloader h1 {
  font-family: 'Montserrat';
  background-image: linear-gradient(45deg, red, violet, red);
  background-size: 200% 200%;
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  animation: moving-gradient 2000ms ease-in-out infinite;
}

@keyframes moving-gradient {
  from {
    background-position: 0 0;
  }

  50% {
    background-position: 100% 100%;
  }

  to {
    background-position: 0 0;
  }
}

.hidden {
  display: none;
}

* {
  margin: 0;
  padding: 0;
}

#app {
  font-family: 'Roboto';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;

}

.hud {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: 1fr 5fr 1fr;
  grid-template-rows: 1fr 5fr 1fr;
  font-family: 'Roboto';
  color: white;
}

.hud > * {
  width: 100%;
  height: 100%;
  user-select: none;
}

.location {
  text-align: center;
  padding: 1em;
}

.controls {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-areas: 
    ".   w   ."
    "a   s   d"
    "cap cap cap";
  row-gap: 0.5em;
  column-gap: 2.5ch;
  user-select: none;
}

.w {
  grid-area: w;
}

.a {
  grid-area: a;
}

.s {
  grid-area: s;
}

.d {
  grid-area: d;
}

.cap {
  grid-area: cap;
}

.controls button {
  width: 100%;
  height: 100%;
}

.modal {
  width: 100%;
  height: 100%;
  background-color: hsla(0, 0%, 20%, 1.0);
  color: lightgray;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transform: scale(0);
  position: relative;
}

.content {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: hsla(0, 0%, 20%, 1.0);
}

.close-button {
  background-color: red;
  color: white;
  position: absolute;
  top: 0;
  right: 0;
  padding: 1em;
}

.appear-grow {
  transform: scale(1);
  animation: grow 250ms ease-in;
}

.disappear-shrink {
  animation: grow 250ms ease-in reverse;
}

.controls button {
  background-color: orangered;
  color: white;
  border: none;
}

.controls button:hover {
  outline: 2px solid purple;
}

@keyframes grow {
  from {
    transform: scale(0);
  }

  to {
    transform: scale(1);
  }
}